# Generate Table one for First Lab paper - 4th Sep

Use tableone library frist

In [61]:
from tableone import TableOne
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
%matplotlib inline
plt.style.use('ggplot')

In [63]:
import tableone
print(tableone.__version__)

0.2.7

In [2]:
data = pd.read_csv("all_data_minmax.csv", index_col=0)

In [3]:
data.columns

Index(['subject_id', 'hadm_id', 'icustay_id', 'mort_icu', 'mort_hosp',
       'mechvent', 'vasopressor', 'gender', 'first_careunit', 'last_careunit',
       'oasis', 'los', 'mort_icu.1', 'mort_hosp.1', 'first_admit_age',
       'charttime', 'aniongap_max', 'aniongap_min', 'albumin_max',
       'albumin_min', 'bicarbonate_max', 'bicarbonate_min', 'bilirubin_max',
       'bilirubin_min', 'creatinine_max', 'creatinine_min', 'chloride_max',
       'chloride_min', 'glucose_max', 'glucose_min', 'glucose2_max',
       'glucose2_min', 'hematocrit_max', 'hematocrit_min', 'hemoglobin_max',
       'hemoglobin_min', 'lactate_max', 'lactate_min', 'magnesium_max',
       'magnesium_min', 'phosphate_max', 'phosphate_min', 'platelet_max',
       'platelet_min', 'potassium_max', 'potassium_min', 'ptt_max', 'ptt_min',
       'inr_max', 'inr_min', 'pt_max', 'pt_min', 'sodium_max', 'sodium_min',
       'bun_max', 'bun_min', 'wbc_max', 'wbc_min', 'calcium_max',
       'calcium_min', 'freecalcium_max', 'freecalcium_min', 'vasopressor_1'],
      dtype='object')

In [4]:
data.head()

,subject_id,hadm_id,icustay_id,mort_icu,mort_hosp,mechvent,vasopressor,gender,first_careunit,last_careunit,...,sodium_min,bun_max,bun_min,wbc_max,wbc_min,calcium_max,calcium_min,freecalcium_max,freecalcium_min,vasopressor_1
0,3,145834,211552,0,0,1,1.0,M,MICU,MICU,...,136.0,53.0,41.0,24.4,11.3,8.2,5.8,1.13,0.82,1
1,4,185777,294638,0,0,0,NaN,F,MICU,MICU,...,135.0,10.0,9.0,9.7,9.7,8.9,7.7,NaN,NaN,0
2,6,107064,228232,0,0,0,NaN,F,SICU,SICU,...,134.0,65.0,62.0,10.6,10.6,8.6,7.9,1.27,1.05,0
3,9,150750,220597,1,1,1,1.0,M,MICU,MICU,...,136.0,17.0,16.0,13.7,7.5,9.2,9.2,1.14,0.99,1
4,11,194540,229441,0,0,0,NaN,F,SICU,SICU,...,138.0,19.0,12.0,12.8,8.5,9.6,9.6,NaN,NaN,0

In [5]:
data.subject_id.unique().shape

(38605,)

In [25]:
n_nonsurv = data['subject_id'][data.mort_icu==1].dropna().unique().shape[0]
n_less = data['subject_id'][data.mort_icu==0].dropna().unique().shape[0]
quarter = n_less // 4
print(n_nonsurv)
print(n_less)
print(quarter)

3090
35515
8878

In [96]:
data_nonsurv = data[data.mort_icu == 1]
data_firstq = data.sort_values(by=['los'])[data.mort_icu == 0].head(quarter)
los_firstq = data.sort_values(by=['los'])['los'][data.mort_icu == 0].head(quarter).max()
data_nonsurv['Non_survive'] = 1
data_firstq['Non_survive'] = 0

/home/duhao/.virtualenvs/3/lib/python3.5/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/home/duhao/.virtualenvs/3/lib/python3.5/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [97]:
#data_firstq

In [98]:
data_table1 = pd.concat([data_nonsurv, data_firstq], ignore_index=True)

In [107]:
#data_table1

In [100]:
columns = ['mort_icu', 'mort_hosp', 'first_admit_age', 'gender', 'oasis', 'aniongap_max', 'aniongap_min', 'albumin_max',
       'albumin_min', 'bicarbonate_max', 'bicarbonate_min', 'bilirubin_max',
       'bilirubin_min', 'creatinine_max', 'creatinine_min', 'chloride_max',
       'chloride_min', 'glucose_max', 'glucose_min', 'glucose2_max',
       'glucose2_min', 'hematocrit_max', 'hematocrit_min', 'hemoglobin_max',
       'hemoglobin_min', 'lactate_max', 'lactate_min', 'magnesium_max',
       'magnesium_min', 'phosphate_max', 'phosphate_min', 'platelet_max',
       'platelet_min', 'potassium_max', 'potassium_min', 'ptt_max', 'ptt_min',
       'inr_max', 'inr_min', 'pt_max', 'pt_min', 'sodium_max', 'sodium_min',
       'bun_max', 'bun_min', 'wbc_max', 'wbc_min', 'calcium_max',
       'calcium_min', 'freecalcium_max', 'freecalcium_min']
categorical = ['mort_icu', 'mort_hosp', 'gender', 'first_careunit', 'last_careunit', 'vasopressor_1']
nonnormal = ['first_admit_age']
groupby = 'Non_survive'

In [101]:
overall_table = TableOne(data_table1, columns, categorical, groupby, nonnormal, pval=True)

In [102]:
overall_table

Stratified by Non_survive
                                0                    1                      isnull  pval    testname
------------------------------  -------------------  -------------------  --------  ------  --------------
n                               8878                 3090                        0
first_admit_age (median [IQR])  63.05 [49.96,75.83]  73.18 [59.84,82.56]         0  0.000   Kruskal-Wallis
oasis (mean (std))              27.07 (7.81)         41.34 (9.27)                0  0.000   One_way_ANOVA
aniongap_max (mean (std))       15.14 (4.07)         19.43 (6.09)              519  0.000   One_way_ANOVA
aniongap_min (mean (std))       12.55 (2.87)         15.02 (4.62)              519  0.000   One_way_ANOVA
albumin_max (mean (std))        3.53 (0.68)          2.98 (0.74)              7575  0.000   One_way_ANOVA
albumin_min (mean (std))        3.47 (0.68)          2.83 (0.76)              7575  0.000   One_way_ANOVA
bicarbonate_max (mean (std))    25.73 (3.58)         23.60 (5.48)              399  0.000   One_way_ANOVA
bicarbonate_min (mean (std))    23.41 (3.89)         19.55 (6.12)              399  0.000   One_way_ANOVA
bilirubin_max (mean (std))      1.36 (3.20)          3.18 (6.73)              6636  0.000   One_way_ANOVA
bilirubin_min (mean (std))      1.19 (2.85)          2.63 (5.85)              6636  0.000   One_way_ANOVA
creatinine_max (mean (std))     1.27 (1.42)          1.91 (1.57)               230  0.000   One_way_ANOVA
creatinine_min (mean (std))     1.06 (1.11)          1.53 (1.32)               230  0.000   One_way_ANOVA
chloride_max (mean (std))       106.52 (5.20)        107.74 (7.77)             251  0.000   One_way_ANOVA
chloride_min (mean (std))       102.22 (5.23)        101.37 (7.06)             251  0.000   One_way_ANOVA
glucose_max (mean (std))        168.02 (92.80)       204.98 (109.14)          6836  0.000   One_way_ANOVA
glucose_min (mean (std))        121.89 (64.20)       151.99 (80.27)           6836  0.000   One_way_ANOVA
glucose2_max (mean (std))       154.99 (89.15)       204.52 (110.28)           532  0.000   One_way_ANOVA
glucose2_min (mean (std))       114.71 (37.85)       126.90 (58.83)            532  0.000   One_way_ANOVA
hematocrit_max (mean (std))     37.23 (5.55)         36.51 (6.35)              184  0.000   One_way_ANOVA
hematocrit_min (mean (std))     31.31 (6.40)         29.94 (7.06)              184  0.000   One_way_ANOVA
hemoglobin_max (mean (std))     12.54 (1.99)         12.11 (2.18)              210  0.000   One_way_ANOVA
hemoglobin_min (mean (std))     10.69 (2.27)         10.04 (2.40)              210  0.000   One_way_ANOVA
lactate_max (mean (std))        2.45 (1.79)          5.30 (4.46)              5388  0.000   One_way_ANOVA
lactate_min (mean (std))        1.69 (1.05)          2.99 (2.70)              5388  0.000   One_way_ANOVA
magnesium_max (mean (std))      2.08 (0.41)          2.28 (1.05)              1155  0.000   One_way_ANOVA
magnesium_min (mean (std))      1.86 (0.32)          1.85 (0.43)              1155  0.019   One_way_ANOVA
phosphate_max (mean (std))      3.75 (1.19)          4.84 (2.17)              2043  0.000   One_way_ANOVA
phosphate_min (mean (std))      3.28 (1.00)          3.65 (1.74)              2043  0.000   One_way_ANOVA
platelet_max (mean (std))       252.21 (109.70)      242.99 (134.48)           254  0.000   One_way_ANOVA
platelet_min (mean (std))       212.50 (99.24)       186.84 (119.74)           254  0.000   One_way_ANOVA
potassium_max (mean (std))      4.63 (0.88)          4.89 (1.09)               191  0.000   One_way_ANOVA
potassium_min (mean (std))      3.77 (0.49)          3.78 (0.70)               191  0.429   One_way_ANOVA
ptt_max (mean (std))            39.04 (26.74)        55.69 (39.61)            1400  0.000   One_way_ANOVA
ptt_min (mean (std))            29.73 (11.68)        35.24 (19.22)            1400  0.000   One_way_ANOVA
inr_max (mean (std))            1.45 (1.13)          2.14 (2.16)              1345  0.000   One_way_ANOVA
inr_min (mean (std))            1.25 (0.54)          1.52 (0.96)              1345  0.000   One_way_ANOVA
pt_max (mean (std))             15.40 (7.80)         19.97 (13.37)            1341  0.000   One_way_ANOVA
pt_min (mean (std))             13.98 (4.31)         15.96 (7.08)             1341  0.000   One_way_ANOVA
sodium_max (mean (std))         140.07 (3.72)        141.27 (6.42)             213  0.000   One_way_ANOVA
sodium_min (mean (std))         136.77 (4.38)        136.13 (6.17)             213  0.000   One_way_ANOVA
bun_max (mean (std))            22.82 (17.87)        38.03 (27.32)             228  0.000   One_way_ANOVA
bun_min (mean (std))            18.76 (15.10)        31.75 (23.96)             228  0.000   One_way_ANOVA
wbc_max (mean (std))            12.53 (9.98)         17.99 (22.32)             286  0.000   One_way_ANOVA
wbc_min (mean (std))            9.54 (6.89)          12.71 (16.11)             286  0.000   One_way_ANOVA
calcium_max (mean (std))        8.71 (0.75)          8.65 (1.35)              2038  0.010   One_way_ANOVA
calcium_min (mean (std))        8.34 (0.78)          7.81 (1.14)              2038  0.000   One_way_ANOVA
freecalcium_max (mean (std))    1.20 (0.13)          1.17 (0.22)              6930  0.000   One_way_ANOVA
freecalcium_min (mean (std))    1.07 (0.10)          1.01 (0.17)              6930  0.000   One_way_ANOVA
mort_icu (n (%))                                                                 0  0.000   Fisher exact
0                               8878 (100.00)        0 (0.00)
1                               0 (0.00)             3090 (100.00)
mort_hosp (n (%))                                                                0  0.000   Chi-squared
0                               8658 (97.52)         12 (0.39)
1                               220 (2.48)           3078 (99.61)
gender (n (%))                                                                   0  0.000   Chi-squared
F                               3766 (42.42)         1465 (47.41)
M                               5112 (57.58)         1625 (52.59)
first_careunit (n (%))                                                           0  0.000   Chi-squared
CCU                             1278 (14.40)         489 (15.83)
CSRU                            1760 (19.82)         217 (7.02)
MICU                            3220 (36.27)         1359 (43.98)
SICU                            1369 (15.42)         594 (19.22)
TSICU                           1251 (14.09)         431 (13.95)
last_careunit (n (%))                                                            0  0.000   Chi-squared
CCU                             1277 (14.38)         459 (14.85)
CSRU                            1759 (19.81)         204 (6.60)
MICU                            3216 (36.22)         1378 (44.60)
SICU                            1377 (15.51)         640 (20.71)
TSICU                           1249 (14.07)         409 (13.24)
vasopressor_1 (n (%))                                                            0  0.000   Chi-squared
0                               7441 (83.81)         968 (31.33)
1                               1437 (16.19)         2122 (68.67)

In [104]:
from scipy.stats import mstats
from scipy.stats import mannwhitneyu
from scipy.stats import f_oneway

In [105]:
data1 = data_table1.loc[data_table1.Non_survive==1, 'hematocrit_max']
data2 = data_table1.loc[data_table1.Non_survive==0, 'hematocrit_max']
H, pval = f_oneway(data1.values, data2.values)

In [106]:
pval

nan