# Generate Table one for First Lab paper - 4th Sep

Use tableone library first

In [17]:
from tableone import TableOne
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
%matplotlib inline
plt.style.use('ggplot')

In [18]:
import tableone
print(tableone.__version__)

0.2.7

In [36]:
data = pd.read_csv("all_data_minmax.csv", index_col=0)

In [37]:
data.columns

Index(['subject_id', 'hadm_id', 'icustay_id', 'mort_icu', 'mort_hosp',
       'mechvent', 'vasopressor', 'gender', 'first_careunit', 'last_careunit',
       'oasis', 'los', 'first_admit_age', 'charttime', 'aniongap_max',
       'aniongap_min', 'albumin_max', 'albumin_min', 'bicarbonate_max',
       'bicarbonate_min', 'bilirubin_max', 'bilirubin_min', 'creatinine_max',
       'creatinine_min', 'chloride_max', 'chloride_min', 'glucose_max',
       'glucose_min', 'hematocrit_max', 'hematocrit_min', 'hemoglobin_max',
       'hemoglobin_min', 'lactate_max', 'lactate_min', 'magnesium_max',
       'magnesium_min', 'phosphate_max', 'phosphate_min', 'platelet_max',
       'platelet_min', 'potassium_max', 'potassium_min', 'ptt_max', 'ptt_min',
       'inr_max', 'inr_min', 'pt_max', 'pt_min', 'sodium_max', 'sodium_min',
       'bun_max', 'bun_min', 'wbc_max', 'wbc_min', 'calcium_max',
       'calcium_min', 'freecalcium_max', 'freecalcium_min', 'vasopressor_1'],
      dtype='object')

In [38]:
data.head()

,subject_id,hadm_id,icustay_id,mort_icu,mort_hosp,mechvent,vasopressor,gender,first_careunit,last_careunit,...,sodium_min,bun_max,bun_min,wbc_max,wbc_min,calcium_max,calcium_min,freecalcium_max,freecalcium_min,vasopressor_1
0,3,145834,211552,0,0,1,1.0,M,MICU,MICU,...,136.0,53.0,41.0,24.4,11.3,8.2,5.8,1.13,0.82,1
1,4,185777,294638,0,0,0,NaN,F,MICU,MICU,...,135.0,10.0,9.0,9.7,9.7,8.9,7.7,NaN,NaN,0
2,6,107064,228232,0,0,0,NaN,F,SICU,SICU,...,134.0,65.0,62.0,10.6,10.6,8.6,7.9,1.27,1.05,0
3,9,150750,220597,1,1,1,1.0,M,MICU,MICU,...,136.0,17.0,16.0,13.7,7.5,9.2,9.2,1.14,0.99,1
4,11,194540,229441,0,0,0,NaN,F,SICU,SICU,...,138.0,19.0,12.0,12.8,8.5,9.6,9.6,NaN,NaN,0

In [39]:
data.subject_id.unique().shape

(38605,)

In [40]:
n_nonsurv = data['subject_id'][data.mort_icu==1].dropna().unique().shape[0]
n_less = data['subject_id'][data.mort_icu==0].dropna().unique().shape[0]
quarter = n_less // 4
print(n_nonsurv)
print(n_less)
print(quarter)

3090
35515
8878

In [41]:
data_nonsurv = data[data.mort_icu == 1]
data_firstq = data.sort_values(by=['los'])[data.mort_icu == 0].head(quarter)
los_firstq = data.sort_values(by=['los'])['los'][data.mort_icu == 0].head(quarter).max()
data_nonsurv['Non_survive'] = 1
data_firstq['Non_survive'] = 0

/home/duhao/.virtualenvs/3/lib/python3.5/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/home/duhao/.virtualenvs/3/lib/python3.5/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [42]:
#data_firstq

In [43]:
data_table1 = pd.concat([data_nonsurv, data_firstq], ignore_index=True)

In [44]:
#data_table1

In [49]:
columns = ['mort_icu', 'mort_hosp', 'first_admit_age', 'gender', 'oasis', 'mechvent', 'aniongap_max', 'aniongap_min', 'albumin_max',
       'albumin_min', 'bicarbonate_max', 'bicarbonate_min', 'bilirubin_max',
       'bilirubin_min', 'creatinine_max', 'creatinine_min', 'chloride_max',
       'chloride_min', 'glucose_max', 'glucose_min',
       'hematocrit_max', 'hematocrit_min', 'hemoglobin_max',
       'hemoglobin_min', 'lactate_max', 'lactate_min', 'magnesium_max',
       'magnesium_min', 'phosphate_max', 'phosphate_min', 'platelet_max',
       'platelet_min', 'potassium_max', 'potassium_min', 'ptt_max', 'ptt_min',
       'inr_max', 'inr_min', 'pt_max', 'pt_min', 'sodium_max', 'sodium_min',
       'bun_max', 'bun_min', 'wbc_max', 'wbc_min', 'calcium_max',
       'calcium_min', 'freecalcium_max', 'freecalcium_min']
categorical = ['mort_icu', 'mort_hosp', 'gender', 'first_careunit', 'last_careunit', 'vasopressor_1', 'mechvent']
nonnormal = ['first_admit_age', 'oasis', 'aniongap_max', 'aniongap_min', 'albumin_max',
       'albumin_min', 'bicarbonate_max', 'bicarbonate_min', 'bilirubin_max',
       'bilirubin_min', 'creatinine_max', 'creatinine_min', 'chloride_max',
       'chloride_min', 'glucose_max', 'glucose_min', 
       'hematocrit_max', 'hematocrit_min', 'hemoglobin_max',
       'hemoglobin_min', 'lactate_max', 'lactate_min', 'magnesium_max',
       'magnesium_min', 'phosphate_max', 'phosphate_min', 'platelet_max',
       'platelet_min', 'potassium_max', 'potassium_min', 'ptt_max', 'ptt_min',
       'inr_max', 'inr_min', 'pt_max', 'pt_min', 'sodium_max', 'sodium_min',
       'bun_max', 'bun_min', 'wbc_max', 'wbc_min', 'calcium_max',
       'calcium_min', 'freecalcium_max', 'freecalcium_min']
groupby = 'Non_survive'

In [50]:
overall_table = TableOne(data_table1, columns, categorical, groupby, nonnormal, pval=True)

In [51]:
overall_table

Stratified by Non_survive
                                0                       1                         isnull  pval    testname
------------------------------  ----------------------  ----------------------  --------  ------  --------------
n                               8878                    3090                           0
first_admit_age (median [IQR])  63.05 [49.96,75.83]     73.18 [59.84,82.56]            0  0.000   Kruskal-Wallis
oasis (median [IQR])            27.00 [22.00,32.00]     41.00 [35.00,48.00]            0  0.000   Kruskal-Wallis
aniongap_max (median [IQR])     15.00 [13.00,17.00]     18.00 [15.00,22.00]          519  0.000   Kruskal-Wallis
aniongap_min (median [IQR])     12.00 [11.00,14.00]     14.00 [12.00,17.00]          519  0.000   Kruskal-Wallis
albumin_max (median [IQR])      3.60 [3.10,4.00]        3.00 [2.50,3.50]            7575  0.000   Kruskal-Wallis
albumin_min (median [IQR])      3.50 [3.00,4.00]        2.80 [2.30,3.40]            7575  0.000   Kruskal-Wallis
bicarbonate_max (median [IQR])  26.00 [24.00,28.00]     24.00 [20.00,27.00]          399  0.000   Kruskal-Wallis
bicarbonate_min (median [IQR])  24.00 [21.00,26.00]     20.00 [15.00,23.00]          399  0.000   Kruskal-Wallis
bilirubin_max (median [IQR])    0.60 [0.40,1.00]        0.90 [0.50,2.20]            6636  0.000   Kruskal-Wallis
bilirubin_min (median [IQR])    0.50 [0.30,0.90]        0.70 [0.40,1.70]            6636  0.000   Kruskal-Wallis
creatinine_max (median [IQR])   0.90 [0.80,1.20]        1.40 [0.90,2.30]             230  0.000   Kruskal-Wallis
creatinine_min (median [IQR])   0.80 [0.70,1.00]        1.10 [0.70,1.80]             230  0.000   Kruskal-Wallis
chloride_max (median [IQR])     107.00 [103.00,110.00]  107.00 [103.00,112.00]       251  0.000   Kruskal-Wallis
chloride_min (median [IQR])     103.00 [100.00,105.00]  102.00 [97.00,106.00]        251  0.000   Kruskal-Wallis
glucose_max (median [IQR])      147.00 [119.00,184.00]  185.00 [145.00,255.00]       213  0.000   Kruskal-Wallis
glucose_min (median [IQR])      102.00 [90.00,121.00]   113.00 [89.00,144.00]        213  0.000   Kruskal-Wallis
hematocrit_max (median [IQR])   37.30 [33.20,41.00]     36.00 [32.00,40.50]          184  0.000   Kruskal-Wallis
hematocrit_min (median [IQR])   31.30 [26.80,35.90]     29.60 [25.30,34.60]          184  0.000   Kruskal-Wallis
hemoglobin_max (median [IQR])   12.60 [11.10,13.90]     12.00 [10.60,13.50]          210  0.000   Kruskal-Wallis
hemoglobin_min (median [IQR])   10.70 [9.10,12.30]      9.90 [8.40,11.60]            210  0.000   Kruskal-Wallis
lactate_max (median [IQR])      2.00 [1.40,2.90]        3.60 [2.00,7.20]            5388  0.000   Kruskal-Wallis
lactate_min (median [IQR])      1.50 [1.10,2.00]        2.00 [1.40,3.50]            5388  0.000   Kruskal-Wallis
magnesium_max (median [IQR])    2.00 [1.90,2.30]        2.20 [2.00,2.50]            1155  0.000   Kruskal-Wallis
magnesium_min (median [IQR])    1.90 [1.70,2.00]        1.80 [1.60,2.10]            1155  0.000   Kruskal-Wallis
phosphate_max (median [IQR])    3.60 [3.10,4.20]        4.30 [3.40,5.80]            2043  0.000   Kruskal-Wallis
phosphate_min (median [IQR])    3.20 [2.70,3.80]        3.30 [2.50,4.40]            2043  0.000   Kruskal-Wallis
platelet_max (median [IQR])     235.00 [184.00,301.00]  221.00 [153.00,306.00]       254  0.000   Kruskal-Wallis
platelet_min (median [IQR])     200.00 [149.00,257.00]  172.50 [102.00,244.00]       254  0.000   Kruskal-Wallis
potassium_max (median [IQR])    4.40 [4.10,5.00]        4.70 [4.20,5.40]             191  0.000   Kruskal-Wallis
potassium_min (median [IQR])    3.80 [3.50,4.00]        3.70 [3.30,4.20]             191  0.040   Kruskal-Wallis
ptt_max (median [IQR])          29.90 [26.00,37.50]     37.80 [28.60,66.50]         1400  0.000   Kruskal-Wallis
ptt_min (median [IQR])          27.40 [24.50,31.20]     29.90 [25.40,37.30]         1400  0.000   Kruskal-Wallis
inr_max (median [IQR])          1.20 [1.10,1.40]        1.50 [1.20,2.20]            1345  0.000   Kruskal-Wallis
inr_min (median [IQR])          1.10 [1.10,1.30]        1.30 [1.10,1.60]            1345  0.000   Kruskal-Wallis
pt_max (median [IQR])           13.80 [12.80,15.30]     16.00 [13.80,20.70]         1341  0.000   Kruskal-Wallis
pt_min (median [IQR])           13.20 [12.40,14.20]     14.20 [13.00,16.60]         1341  0.000   Kruskal-Wallis
sodium_max (median [IQR])       140.00 [138.00,142.00]  141.00 [138.00,144.00]       213  0.000   Kruskal-Wallis
sodium_min (median [IQR])       137.00 [135.00,139.00]  137.00 [133.00,140.00]       213  0.000   Kruskal-Wallis
bun_max (median [IQR])          18.00 [13.00,25.00]     29.00 [19.00,48.00]          228  0.000   Kruskal-Wallis
bun_min (median [IQR])          15.00 [11.00,21.00]     24.00 [15.00,40.00]          228  0.000   Kruskal-Wallis
wbc_max (median [IQR])          11.40 [8.50,14.90]      15.00 [10.60,20.60]          286  0.000   Kruskal-Wallis
wbc_min (median [IQR])          8.70 [6.50,11.40]       10.80 [6.90,15.30]           286  0.000   Kruskal-Wallis
calcium_max (median [IQR])      8.70 [8.30,9.10]        8.60 [8.00,9.10]            2038  0.000   Kruskal-Wallis
calcium_min (median [IQR])      8.40 [7.90,8.80]        7.90 [7.20,8.50]            2038  0.000   Kruskal-Wallis
freecalcium_max (median [IQR])  1.19 [1.13,1.26]        1.14 [1.08,1.21]            6930  0.000   Kruskal-Wallis
freecalcium_min (median [IQR])  1.08 [1.02,1.12]        1.03 [0.93,1.11]            6930  0.000   Kruskal-Wallis
mort_icu (n (%))                                                                       0  0.000   Fisher exact
0                               8878 (100.00)           0 (0.00)
1                               0 (0.00)                3090 (100.00)
mort_hosp (n (%))                                                                      0  0.000   Chi-squared
0                               8658 (97.52)            12 (0.39)
1                               220 (2.48)              3078 (99.61)
gender (n (%))                                                                         0  0.000   Chi-squared
F                               3766 (42.42)            1465 (47.41)
M                               5112 (57.58)            1625 (52.59)
first_careunit (n (%))                                                                 0  0.000   Chi-squared
CCU                             1278 (14.40)            489 (15.83)
CSRU                            1760 (19.82)            217 (7.02)
MICU                            3220 (36.27)            1359 (43.98)
SICU                            1369 (15.42)            594 (19.22)
TSICU                           1251 (14.09)            431 (13.95)
last_careunit (n (%))                                                                  0  0.000   Chi-squared
CCU                             1277 (14.38)            459 (14.85)
CSRU                            1759 (19.81)            204 (6.60)
MICU                            3216 (36.22)            1378 (44.60)
SICU                            1377 (15.51)            640 (20.71)
TSICU                           1249 (14.07)            409 (13.24)
vasopressor_1 (n (%))                                                                  0  0.000   Chi-squared
0                               7441 (83.81)            968 (31.33)
1                               1437 (16.19)            2122 (68.67)
mechvent (n (%))                                                                       0  0.000   Chi-squared
0                               6474 (72.92)            397 (12.85)
1                               2404 (27.08)            2693 (87.15)

In [52]:
overall_table.to_csv("./tableone.csv")

In [ ]:
from scipy.stats import mstats
from scipy.stats import mannwhitneyu
from scipy.stats import f_oneway

In [ ]:
data1 = data_table1.loc[data_table1.Non_survive==1, 'hematocrit_max']
data2 = data_table1.loc[data_table1.Non_survive==0, 'hematocrit_max']
H, pval = mannwhitneyu(data1.values, data2.values)

In [ ]:
pval